* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #b0b0a2;
}

.wrapper {
  margin: 0 auto;
  border: 1px solid black;
  display: block;
  max-width: fit-content;
  position: relative;
  top: 30vh;
  background-color: white;
}
.greetings {
  padding: 20px;
}
